@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>DoctorManagement</h1>

</div>
<div>


</div>

   



<div class="row">
    <div class="col-md-4">
        <h2>Rejestracja pacjenta</h2>
        <p>
            Aby zarejestrować pacjenta kliknij poniżej.
        </p>
        <p><a class="btn btn-default"href="http://localhost:55444/Patients/Create">Dodaj pacjenta &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nowy specialista</h2>
        <p>
            Aby dodać nowego lekarza  kliknij poniżej.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55444/Doctors/Create">Dodaj lekarza &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nasze Statystyki</h2>
        <p>
            Aby sprawdzić ilość osób zarejestrowanych w naszym serwisie w poszczególnych dniach kliknij poniżej.
        </p>
        <p><a class="btn btn-default" href="http://localhost:55444/Home/About">Statystyki &raquo;</a></p>
    </div>
</div>